# Игнорируем виртуальное окружение
.venv/
env/
venv/

# Игнорируем кеши и временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем настройки IDE
.idea/
.idea
.vscode/

# Игнорируем тестовые и лог-файлы
*.log
*.pot
*.pyc
*.pyo


*.sqlite3

# Игнорируем файлы конфигурации Git
.git/
.gitignore